<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
    </head>
    <body>
        Logged in with {{ current_user.id }}<br>
        {% if current_user.role == 'student' %}
        You have completed {{ credits_completed }} credits.
            {% for li in listings %}
                <form method="post" action="{{ url_for('drop_study') }}">
                    <br>{{ li['facilitator_email'] }} {{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['start_time'] }} {{ li['end_time'] }} {{ li['is_completed'] }}
                    <input type="hidden" name="id" value="{{ li['student_research_id'] }}" />
                    <input type="hidden" name="token" value="{{ li['token'] }}" />
                    <button type="submit">Drop</button>
                </form>
            {% endfor %}<br>
            {% for cl in completed_listings %}
                <br>{{ cl['facilitator_email'] }} {{ cl['research_name'] }} {{ cl['research_description'] }} {{ cl['research_credits'] }} {{ cl['start_time'] }} {{ cl['end_time'] }} {{ cl['is_completed'] }}
            {% endfor %}
        {% endif %}
        {% if current_user.role == 'professor' %}
            {% for li in listings %}
                <br>{{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['available_slots'] }} {{ li['start_time'] }} {{ li['end_time'] }}
                {% for e in li['enrolled_students'] %}
                    <br>{{ e[0] }}
                {% endfor %}
            {% endfor %}
            <br><a href="{{ url_for('all_students') }}">All Students</a><br>
        {% endif %}
        {% if current_user.role == 'admin' %}
            {% for li in listings %}
                <br>{{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['available_slots'] }} {{ li['start_time'] }} {{ li['end_time'] }}
                {% for e in li['enrolled_students'] %}
                    <br>{{ e[0] }}
                {% endfor %}
            {% endfor %}<br>
            {% for ol in other_listings %}
                <br>{{ ol['research_name'] }} {{ ol['research_description'] }} {{ ol['research_credits'] }} {{ ol['available_slots'] }} {{ ol['start_time'] }} {{ ol['end_time'] }}
                {% for e in ol['enrolled_students'] %}
                    <br>{{ e[0] }}
                {% endfor %}
            {% endfor %}
            <br><a href="{{ url_for('invite_professor') }}">Invite Professor</a><br>
            <a href="{{ url_for('all_students') }}">All Students</a><br>
        {% endif %}
        <a href="{{ url_for('listings') }}">Listings</a><br>
        <a href="{{ url_for('logout') }}">Logout</a><br>
        <div class="flash-messages">
            {% with flashes = get_flashed_messages() %}
                    {% if flashes %}
                        {% for f in flashes %}
                            <br>{{ f }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </body>
</html>