<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
    </head>
    <body>
        Logged in with {{ current_user.id }}<br>
        You have completed {{ credits_completed }} credits.
        {% if current_user.role == 'student' %}
            {% for l in listings %}
                <li>{{ l[0] }} {{ l[1] }} {{ l[3] }} {{ l[4] }} {{ l[5] }} {{ l[6] }} {{ l[7] }}</li>
            {% endfor %}
        {% endif %}
        {% if current_user.role == 'professor' %}
            {% for l in listings %}
                <li></li>
            {% endfor %}
            <a href="{{ url_for('all_students') }}">All Students</a><br>
        {% endif %}
        <a href="{{ url_for('listings') }}">Listings</a><br>
        <a href="{{ url_for('logout') }}">Logout</a><br>
        <div class="flash-messages">
            {% for f in flashes %}
                <li>{{ f }}</li>
            {% endfor %}
        </div>
    </body>
</html>