<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
    </head>
    <body>
        Logged in with {{ current_user.id }}<br>
        {% if current_user.role == 'student' %}
            You have completed {{ credits_completed }} credits.
            {% for li in listings %}
                <li>{{ li['facilitator_email'] }} {{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['start_time'] }} {{ li['end_time'] }} {{ li['is_completed'] }}</li>
            {% endfor %}<br>
            {% for cl in completed_listings %}
                <li>{{ cl['facilitator_email'] }} {{ cl['research_name'] }} {{ cl['research_description'] }} {{ cl['research_credits'] }} {{ cl['start_time'] }} {{ cl['end_time'] }} {{ cl['is_completed'] }}</li>
            {% endfor %}
        {% endif %}
        {% if current_user.role == 'professor' %}
            {% for li in listings %}
                <li>{{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['available_slots'] }} {{ li['start_time'] }} {{ li['end_time'] }}</li>
            {% endfor %}
            <a href="{{ url_for('all_students') }}">All Students</a><br>
        {% endif %}
        {% if current_user.role == 'admin' %}
            {% for li in listings %}
                <li>{{ li['research_name'] }} {{ li['research_description'] }} {{ li['research_credits'] }} {{ li['available_slots'] }} {{ li['start_time'] }} {{ li['end_time'] }}</li>
            {% endfor %}<br>
            {% for ol in other_listings %}
                <li>{{ ol['research_name'] }} {{ ol['research_description'] }} {{ ol['research_credits'] }} {{ ol['available_slots'] }} {{ ol['start_time'] }} {{ ol['end_time'] }}</li>
            {% endfor %}
            <a href="{{ url_for('invite_professor') }}">Invite Professor</a><br>
            <a href="{{ url_for('all_students') }}">All Students</a><br>
        {% endif %}
        <a href="{{ url_for('listings') }}">Listings</a><br>
        <a href="{{ url_for('logout') }}">Logout</a><br>
        <div class="flash-messages">
            {% with flashes = get_flashed_messages() %}
                    {% if flashes %}
                        {% for f in flashes %}
                            <li>{{ f }}</li>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </body>
</html>